/*배너*/
body {
    background-color: white;
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title {
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Noto Sans JP', sans-serif;


}

.subtitle {
    font-size: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.is-red{
    color:red;
}

/*로그인/회원가입 박스*/
.button.is-sparta {
    background-color: #48c774;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #48c774;
    color: #48c774 !important;
}

.help {
    color: gray;
}

.image{
    width : 90px;
    height : 135px;
    margin-right : 20px;
}

.star-list {
    width: 700px;
    margin: 20px auto 0 auto;
}

.star-name {
    display: inline-block;
}

.star-name:hover {
    text-decoration: underline;
}

.card {
    margin-bottom: 15px;
}


.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.is-container{
    width : 300px;
    float: right;

}

.nuguri{
    display : block;
    margin : auto;
    width : 300px;
    height : 300px;
}

.tag_back{
    background-color : beige;
}
.bold{
    font-weight : bold;
}









